/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
strong,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
section,
time,
audio,
video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
}
html{scroll-behavior:smooth;}
body{
  background:#fff;
  color:#333;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:1;
}
ol, 
ul,
li{list-style:none;}
strong{font-weight:bold;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
img{width:100%;}
a,
a:hover{
  color:#000;
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}

/* CONTAINER */
.container{
    max-width:1100px;
    margin:0 auto;
}

/* TOPO */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 30px;
}
h1{
    width:250px;
}

/* MENU */
.hamburguer{display:none;}
nav ul{
    display:flex;
}
nav li{
    margin-left:30px;
}
nav a{
    text-transform:uppercase;
    font-size:18px;
}
nav a:hover{
    color:#990;
}

/* CONTEÚDO */
/* BANNER DO BLOG */
.banner{
    position:relative;
}
.banner h2{
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    font:bold 40px/1 Arial, Helvetica, sans-serif;
    transform:translate(-50%,-50%);
}

/* ÁREA DE POSTS DO BLOG */
.posts-main{
    background:#fff;
    padding:30px;
    position:relative;
    top:-50px;
    display:flex;
    gap:40px;
}
.posts-main > article{
    width:75%;
}
.post-content{
    display:flex;
    gap:30px;
    font-size:16px;
    margin-bottom:30px;
}
.post-content img{
    width:fit-content; /* FAZ COM QUE A IMAGEM VENHA COM SEU TAMANHO ORIGINAL */
}
.post-content h4{
    font-size:18px;
    margin:10px 0 20px;
}
.cat-1{
    color:#900;
}
.cat-2{
    color:#009;
}
.post-content h3{
    font:bold 30px Arial, Helvetica, sans-serif;
    margin-bottom:20px;
}
.post-text{
    color:#aaa;
    font:18px/25px Arial, Helvetica, sans-serif;
    margin-bottom:10px;
    height:75px;
    overflow:hidden;
}

/* SIDEBAR */
aside{
    width:25%;
}
aside h3{
    margin:30px 0 20px;
    font:bold 22px Arial, Helvetica, sans-serif;
}
aside li{
    padding:10px 0;
    line-height:30px;
}
aside a{
    color:#00D;
    font-size:16px;
}

/* MOBILE */
@media screen and (max-width:1024px){
    .container{
        max-width:100%;
    }
    .hamburguer{
        display:block;
        width:30px;
        float:right;
    }
    .hamburguer p{
        border-bottom:3px solid #333;
        margin:3px 0;
    }
    nav{position:relative;}
    nav ul{
        position:absolute;
        display:none;
        left:-200%;
        top:100%;
        z-index:99;
        background:#fff;
        padding:10px;
    }
    nav:hover ul{display:block;}
    nav li{
        margin:10px 0;
    }
    header{
        justify-content:space-around;
    }
    .posts-main{
        top:10px;
        display:block;
    }
    .posts-main > article,
    aside{
        width:100%;
    }
    .post-content {
        display:block;
    }
}