*{
    margin:0;
    padding:0;
    border:0;
    list-style:none;
}

/*
TÉCNICAS DE TABLELESS:
- POSITION;
- FLOAT;
- DISPLAY;
- FLEX;
- GRID.
*/

/* POSITION */
/* QUANDO EU QUERO QUE UM ELEMENTO FIQUE POR CIMA DE OUTRO. */
/* VALORES POSSÍVEIS PARA A PROPRIEDADE POSITION: 
- STATIC (DEFAULT);
- RELATIVE*;
- ABSOLUTE*;
- FIXED*;
- STICKY*.

* LIBERA O USO DAS PROPRIEDADES:
- TOP;
- LEFT;
- RIGHT;
- BOTTOM;
- Z-INDEX.
*/

.p-box{
    position:relative;
    top:0;
    left:0;
    background:#900;
    width:400px;
    height:400px;
}
.p-box1{
    position:absolute;
    right:30px;
    bottom:40px;
    width:150px;
    height:150px;
    background:#090;
    z-index:5;
}
.p-box2{
    position:absolute;
    right:-50px;
    bottom:50px;
    width:200px;
    height:200px;
    background:#009;
    z-index:2;
}

.fone{
    background:#009;
    padding:10px;
    color:#fff;
    width:180px;
    font:16px Arial, Helvetica, sans-serif;
    line-height:1;
    position:fixed;
    top:50%;
    right:-145px;
    z-index:50;
    transition:1s ease all;
}
.fone:hover{
    right:0;
    transition:1s ease all;
}

/* FLOAT */
/* TÉCNICA DE TABLELESS PARA POSICIONAR CAIXAS UMA DO LADO DA OUTRA */
/* FLOAT TEM 3 VALORES POSSÍVEIS: 
 - LEFT;
 - RIGHT;
 - NONE.
*/
.f-box{
    background:#990;
    width:500px;
    overflow:auto;
}
.f-box-1{
    background:#099;
    width:100px;
    height:100px;
    margin:10px;
    float:left;
}
.f-box-2{
    background:#909;
    width:50px;
    height:100px;
    float:left;
}

/* 
BUG QUE O FLOAT CAUSA: 
USAR FLOAT NOS ELEMENTOS FILHOS, FAZ COM QUE O ELEMENTO PAI PERCA SUA ALTURA NATURAL. PARA CORRIGIR, EXISTEM DUAS FORMAS:
    - CLEAR (left | right | both);
    - OVERFLOW.
*/
.fix{
    clear:both;
}